/* Reset de estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url(gay.png);
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(gay.png);
    background-size: cover;
    background-repeat: no-repeat;
    color: #ffd871;
}
/* Estilos do cabeçalho */
.header {
    margin-top: 20px; 
    padding-bottom: 20px; 
    background-image: url(gay.png);
    background-position: cover;
    color: #ffd871;
    padding: 20px 0;
}


.logo {
    font-size: 28px;
    font-weight: bold;
}

.navigation {
    list-style-type: none;
    padding: 0;
}

.navigation li {
    display: inline-block;
    margin-right: 20px;
}

.navigation li:last-child {
    margin-right: 0;
}

.navigation li a {
    color: #ffd871;
    text-decoration: none;
}

/* Estilos do formulário de contato */
.contact {
    background-image: url(gay.png);
    color: #ffd871;
    padding: 50px 0;
    text-align: center;
}

.contact .container {
    max-width: 600px;
    margin: 0 auto;
}

.page-title {
    font-size: 36px;
    margin-bottom: 30px;
}

.contact-form .form-group {
    margin-bottom: 20px;
}

.contact-form label {
    display: block;
    margin-bottom: 10px;
    font-size: 20px;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid #ffd871;
    border-radius: 5px;
    font-size: 18px;
    background-color: #333;
    color: #ffd871;
}

.contact-form textarea {
    resize: none;
}

.contact-form button {
    background-color: #ffd871;
    color: #000;
    border: none;
    padding: 15px 25px;
    cursor: pointer;
    font-size: 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.contact-form button:hover {
    background-color: #333;
}

/* Estilos do rodapé */
.footer {
    background-image: url(gay.png);
    background-color: #141414;
    color: #ffd871;
    padding: 20px 0;
    text-align: center;
}
/* Estilos do corpo */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('gay.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #ffd871;
}
